<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="100%">
    <tbody>
    <tr>
        <td align="center">

            <table width="650" border="1">
                <tr>
                    <td style="padding: 20px;"><h1>header here</h1></td>
                </tr>
                <tr>
                    <td style="padding:20px" align="left">

                        {{ content }}

                    </td>
                </tr>
                <tr>
                    <td><h1>footer here</h1></td>
                </tr>
            </table>

        </td>
    </tr>
    </tbody>
</table></body>
</html>